# Entorno virtual
.venv/

# Cache de Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Windows
Thumbs.db
desktop.ini

# Variables de entorno y secretos
.env

# Datos y modelos pesados
data/raw/
*.ckpt
*.pth